* {
  margin: 0;
  padding: 0;
}
.nav-link {
  text-decoration: none;
}
.body-content {
  margin: 0 auto;
  max-width: 1200px;
}
.list-card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  gap: 10px;
}
.list-card > div {
  flex: 1;
  width: 100%;
}

.text-card {
  position: relative;
  top: 40%;
}

.text-card .text {
  height: 0px;
  font-family: "Just Me Again Down Here", cursive;
  font-size: 40px;
  background-color: #fcd1d2;
  color: #000000;
  text-align: center;
}
.ant-modal-content {
  border-radius: 25px !important;
  padding: 10px 14px !important;
}
